[package]
name = "okmath"
version = "0.2.0"
authors = ["Vi <violet@hey.com>"]
edition = "2018"

[dependencies]
serde = { version = "~1.0.125", features = ["derive"], optional = true}

[features]
default = ["serde_support"]
serde_support = ["serde"]
